@import '../users/users.component.css';


a {
    text-decoration: none;
}

.mycard{
    width: 70%;
    margin:0 auto;
}
.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 3px;
    color: #424242;
}

.btn1 {
    padding: 10px 2px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #dedede;
    outline: none;
    color: #673ab7;
  }

.btn1:hover{
    cursor: pointer;
}

.arrow{
    color: #673ab7;
    font-size: 30px;
}

.match-parent {
    width: 100%;
    height: 200px;
    margin-bottom: 60px;
  }

.mapboxgl-control-container{
    display: hidden;
}

/* Media query para pantallas más pequeñas que 768px */
@media only screen and (max-width: 768px) {
    .mycard{
        width: 95%;
       
    }
  }
  
  /* Media query para pantallas más pequeñas que 576px */
  @media only screen and (max-width: 576px) {
    .mycard{
        width: 95%;
    }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .mycard{
        width: 95%;
    }
  }